body {

  font-family: Arial, Helvetica, sans-serif;
  background-color:#6E6969;

}
.content{
width: 70%;
		margin: 0 auto;
		padding: 20px;
}
.bodyContent{
  background-color: grey;

}
.topnav {
  overflow: hidden;
  background-color: black;
  align-content: center;

}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: green;
  color: black;
}

.topnav a.active {
  background-color: green;
  color: white;
}

#content1 {
	float: left;
	width: 70%;
	background-color: #DDD;
}
#content2 {
	float: left;
	width: 30%;
	background-color: #CCC;
}

.nav-tabs{margin-bottom: 15px;}

/*-------------------AngularJS & jQuery UI Datepicker starts-----------------------------
.datepicker-container{position: relative;padding: 6px;float: left;border-radius: 2px;margin-bottom: 8px;}
.datepicker-container.ng-invalid-datepicked{background-color: #F8C4C4;border: 1px solid #C28080;}
.datepicker-container.ng-valid-datepicked{background-color: #DDFBCD;border: 1px solid #A6C297;}
.datepicker-container .plugin{position: absolute;z-index: 1;}
.datepicker-container .date-picked{color: #5D7A4E;}
.datepicker-container .calendar-icon:before{content: 'Pick Date';}
-------------------AngularJS & jQuery UI Datepicker ends-----------------------------*/

input[type=text]{
  border-radius: 0px !important;
}
.ui-datepicker-trigger{
  position: absolute;
  margin-top: -28px;
  right:900pxpx;
  border:none;
  background-color:transparent;
}

.ng-valid{
  border-left: 2px solid #090;
}
.ng-invalid{
  border-left: 2px solid #900;
}

td, th {
    padding: 5px;
}